.card{
   display: inline-block;
   text-align: center;
   border: 1px black solid;
   padding: 1rem;
   margin: 2rem;
   width: 5rem;
   cursor: pointer;
}

.cards-wrapper{
   margin: 1rem;
   justify-content: center;
}