.card{
   display: inline-block;
   text-align: center;
   border: 1px black solid;
   padding: 1rem;
   width: 25ch;
   height: 25ch;
   cursor: pointer;
   background-position: center;
   background-size: cover;
   border-radius: 2em;
   text-shadow: white .1em .1em;
}

h1, h2{
   margin: 0;
}

.cards-wrapper{
   margin: 1rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 2rem;
}